<h1> INICIAR SESIÓN </h1>

<p>{{message}}</p>
<p>{{error}}</p>

<form method="post" action="/api/sessions/login">
    <input type="email" name="email" placeholder="Correo electrónico">
    <input type="password" name="password" placeholder="Contraseña">
    <button>INICIAR SESIÓN</button>
</form>