<h1> REGISTRARSE </h1>

<p>{{error}}</p>

<form method="post" action="/api/sessions/signup">
    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="email" name="email" placeholder="Correo electrónico">
    <input type="password" name="password" placeholder="Contraseña">
    <button>REGISTRARSE</button>
</form>